#root{

    -fx-background-color: rgba(0, 0, 0, 0.13);
    -fx-border-color: #000000;
    -fx-border-radius: 10;
    -fx-border-insets: 5;

}

#payment{
    -fx-background-color: rgba(0, 0, 0, 0);
}


.button {
    -fx-base: orange;
    -fx-focus-color: orangered;
}



.label1{
    -fx-background-color: rgba(84, 84, 84, 0.34);
    -fx-background-radius: 10;
    -fx-border-color: #000000;
    -fx-border-radius: 10;
    -fx-border-insets: 0;
    -fx-border-width: 2;
}


.hBox{
    -fx-border-color: #6d6d6d;
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-border-insets: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 3, -3);
}

#img_1{
    -fx-background-radius: 100;
}